* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    
    
}

.wrapper{
    background-color: darkorange;
    width: 70%;
    margin: 0 auto;
}
.logo{
    font-size: 40px;
}
header{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}
header nav ul{
    display: flex;
   
    
}
header nav ul li{
    font-size: 20px;
    
}
header nav ul li a{
color: azure;
}
nav ul button{
    padding: 10px 15px;
    background-color: brown;
    color: whitesmoke;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}
span{
    color: orangered;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}
main .left{
    background-color: orangered;
    border-radius: 20%;
}
main .left img{
    border-radius: 50%;
    font-weight: 400;
}

h1{
    text-align: center;
}
p{
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;

    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 0 10px;
    transition: all 0.3s;
}
@media only screen and (max-width: 576px) {
  
    nav{
        display: none;
    }
    header .logo{
        text-align: center;
        
        
    }
   h3{
       text-align: center;
   }
   
    main .left img{
        width: 100%;
    }
    nav button{
       display: none;
    }
  }
  @media only screen and (max-width: 1020px){
      nav button {
          display: none;
      }
  }
