* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 400;
    
    
}
.logo{
    font-size: 40px;
}
header{
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
header nav ul{
    display: flex;
    
}
header nav ul li{
    font-size: 30px;
}
span{
    color: orangered;
}

h1{
    text-align: center;
}
p{
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;

    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 0 10px;
    transition: all 0.3s;
}
@media only screen and (max-width: 576px) {
    .wrapper{
        
    }
    nav{
        display: none;
    }
    header .logo{
        text-align: center;
        font-size: 30px;
        
    }
   h3{
       text-align: center;
   }
    main .left img{
        width: 100%;
    }
    nav button{
       display: none;
    }
  }
